# TMDb 1.1

Find the 'id' of the movie "Andhadhun" using TMDb API.<br><br>
Output Format:<br><br>
Print the id of the movie.

In [1]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Andhadhun", 'api_key':api_key}
header = {'Accept': 'application/json'}



response = requests.get(api_link + "/search/movie", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('title') == 'Andhadhun':
        print(result.get('id'))

534780

# TMDb 1.2

Fetch the company id company 'Marvel Studios' using TMDb. Print the id.

In [2]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Marvel Studios", 'api_key':api_key}
header = {'Accept': 'application/json'}



response = requests.get(api_link + "/search/company", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('name') == 'Marvel Studios':
        print(result.get('id'))

420

# TMDb 1.3

Find the vote count and vote average of the movie "3 Idiots" using the TMDb API<br><br>
Output format: Vote Count , Vote Average

In [3]:
import requests
import json
# Write your code here 76baade64b4bc88549f89b16c3c447f3
url = 'https://api.themoviedb.org/3/search/movie'
params = {'api_key': "76baade64b4bc88549f89b16c3c447f3",'query': "3 Idiots"}
response = requests.get(url, params=params)
# print(response.url)
python_data = response.json()
topics=python_data["results"]
for i in topics:
    print(i["vote_count"],end=" , ")
    print(i["vote_average"])

2117 , 7.993

# TMDb 1.4

Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.<br><br>
Note<br><br>
While fetching the movie id, use the "original_title" field not the "title". Because the "title" field may contain duplicate values.<br><br>
Output Format:<br><br>
Print the name of the movies in a new line.<br>
movie_name_1<br>
movie_name_2<br>
and so on

In [4]:
import requests
api_key = "e226f4a5f5bace766952aa0d17182959" 
api_link = "https://api.themoviedb.org/3" 
params = {'query':"Inception", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('title') == 'Inception':
       id = result.get('id')
params2 = {'api_key':api_key}
response2 = requests.get(api_link + "/movie/" + str(id) + "/similar", headers = header, params=params2)
data2 = response2.json()
results2 = data2.get('results')
for result in results2[:5]:
    print(result.get("title"))

Richard Meier
Nine
Around the World in 80 Days
Species II
A Simple Plan

# TMDb 1.5

Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.<br><br>
Note: Do not use the search/movies API for finding genres.<br><br>
Output Format:<br><br>
movie_name_1 - genre_1, genre_2 ....<br>
and so on..

In [5]:
import requests
api_key = "e226f4a5f5bace766952aa0d17182959" 
api_link = "https://api.themoviedb.org/3" #/movie/top_rated/apikey = 
header = {'Accept': 'application/json'} 
params = {'api_key':api_key, 'region':'US'} 
response = requests.get(api_link + "/movie/top_rated", headers = header, params = params) 


data = response.json() 
results = data.get('results') 
title_array = [] 
genre_id_array = [] 
for result in results: 
    if result.get('original_language') == 'en': 
        title_array.append(result.get('title')) 
        genre_id_array.append(result.get('genre_ids')) 
        
# To get the genre name corresponding to genre_id 
response2 = requests.get(api_link + "/genre/movie/list", headers = header, params = params) 
data2 = response2.json() 
genres = data2.get('genres') 
mapping = {} 
for genre in genres: 
    mapping[genre.get('id')] = genre.get('name') 
    
for i in range(10): 
    print(title_array[i], "-", end=" ") 
    for id in genre_id_array[i]: 
        print(mapping.get(id), end = ", ") 
    print()

The Godfather - Drama, Crime,
The Shawshank Redemption - Drama, Crime,
The Godfather Part II - Drama, Crime,
Schindler's List - Drama, History, War,
12 Angry Men - Drama,
The Dark Knight - Drama, Action, Crime, Thriller,
The Green Mile - Fantasy, Drama, Crime,
Spider-Man: Across the Spider-Verse - Action, Adventure, Animation, Science Fiction,
Pulp Fiction - Thriller, Crime,
Forrest Gump - Comedy, Drama, Romance,

# TMDb 2.1

Find the name and birthplace of the present most popular person according to TMDb API.<br><br>
Output Format:<br><br>
id<br>
name - birthplace

In [6]:
import requests
# Write your code here
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/person/"+str(3030323), headers = header, params=params)
data=response2.text
data=response2.json()
print(3030323)
print(data['name'],"-",data['place_of_birth'])

3030323
Nakhun Screaigh - Thailand

# TMDb 2.2

Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.<br><br>
Output Format <br><br>
Print the Instagram and Twitter IDs space separated.<br>
instagram_id twitter_id

In [7]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/person/"+str(1108120)+"/external_ids", headers = header, params=params)
data=response2.json()
print(data['instagram_id'],'',data['twitter_id'])

aliaabhatt  Aliaa08

# TMDb 2.3

Fetch the names of the character played by Tom Cruise in the movies:<br><br>
Top Gun <br>
Mission: Impossible - Fallout <br>
Minority Report <br>
Edge of Tomorrow <br><br>
Output Format:<br><br>
Print the names of the characters played by Tom Cruise line separated, in the respective order given in question.

In [8]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key,'query':'Tom Cruise'}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/person/"+str(500)+"/movie_credits", headers = header, params=params)
data=response2.json()
for result in data['cast']:
    if result['title']=='Top Gun':
        print(result['character'],)
for result in data['cast']:
    if result['title']=='Mission: Impossible - Fallout':
        print(result['character'])
for result in data['cast']:
    if result['title']=='Minority Report':
        print(result['character'])
for result in data['cast']:
    if result['title']=='Edge of Tomorrow':
        print(result['character'])

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton
Maj. William 'Bill' Cage

# TMDb 2.4

Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No.

In [9]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key,'query':'James McAvoy'}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/search/person", headers = header, params=params)
data=response2.json()
result2=data.get('results')
for result in result2:
    print(result.get('id'),result.get('name'))

5530 James McAvoy
2147941 Helen McAvoy-James

In [10]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key,'query':'Deadpool 2'}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/person/"+str(5530)+"/movie_credits", headers = header, params=params)
data=response2.json()
for result in data['cast']:
    if result['title']=='Deadpool 2':
        a=result['title']
        if a=='Deadpool 2':
            print('Yes')
        else:
            print('No')

Yes

# TMDb 2.5

Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No.

In [11]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key,}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/person/"+str(5530)+"/movie_credits", headers = header, params=params)
data=response2.json()
for result in data['cast']:
    if result['title']=='Deadpool 2':
        a=result['character']
        print('No')

No

# TMDb 3.1

Fetch the overview of the TV Show "FRIENDS" using TMDb API.<br><br>
Output Format:<br><br>
Print the Overview.

In [12]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key,'query':'Friends'}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/search/tv", headers = header, params=params)
data=response2.json()
results=data.get('results')
for result in results:
    if result.get('name')=='Friends':
        print(result.get('overview'))

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.
Friends is a short-lived kids-oriented drama that aired in the spring of 1979. The series, which was produced by Aaron Spelling and aired on ABC, starred Charlie Aiken, Jill Whelan, and Jarrod Johnson as three Southern Californian 11-year-olds. Karen Morrow also appeared. Only five one-hour episodes were produced before the series was cancelled.

# TMDb 3.2

Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.<br><br>
Output Format:<br><br>
episode_name - air_date

In [13]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key,'query':'The Big Bang Theory'}
header = {'Accept': 'application/json'}
response2 = requests.get(api_link + "/tv/"+str(1418)+"/season/"+str(6)+"/episode/"+str(5), headers = header, params=params)
data=response2.json()
print(data['name'],"-",data['air_date'])

The Holographic Excitation - 2012-10-25

# TMDb 3.3

Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead<br><br>
Output Format:<br><br>
Print the taglines in new line.

In [14]:
import requests 
api_key = "e226f4a5f5bace766952aa0d17182959" 
api_link = "https://api.themoviedb.org/3" 
params = {'api_key':api_key} 
header = {'Accept': 'application/json'} 
response = requests.get(api_link + "/trending/tv/week", headers = header, params = params) 
data = response.json() 
results = data.get("results") 
ids=[] 
for result in results[:5]: 
    ids.append(result.get("id")) 
    
for id in ids: 
    response2 = requests.get(api_link + "/tv/" + str(id) , headers = header, params = params) 
    data2 = response2.json() 
    if (data2.get("tagline")) != "": 
        print(data2.get("tagline")) 
    else: 
        print('Empty')

Who do you trust?
A boy fights... for "the right death."
All empires fall.
Empty
Empty

# TMDb 3.4

Print the names of all the TV shows to be aired today whose original language is english.<br><br>
Output Format:<br><br>
Print the name of each TV show in a new line.

In [15]:
import requests as rq
page_num = 1
api_key = 'e226f4a5f5bace766952aa0d17182959'
api_link = 'https://api.themoviedb.org/3'
header = {'Accept':'application/json'}
params = {'language':'en','api_key':api_key}
r = rq.get(api_link+'/tv/airing_today',headers = header,params = params)
data = r.json()
# print(data)
res = data['results']
page_num = data.get('total_pages')
# print(page_num)
for i in range(1,page_num + 1):
    params = {'language':"en",'api_key':api_key,'page':i}
    r = rq.get(api_link+'/tv/airing_today',headers = header,params = params)
    data = r.json()
    results = data.get('results')
    for r in results:
        if r['original_language'] == 'en':
            print(r['name'])

Hijack
Love Island
Love Island
Emmerdale
Hollyoaks
PBS NewsHour
Justified: City Primeval
General Hospital
Naked News
Days of Our Lives
Shortland Street
House Hunters
EastEnders
Home and Away
WWE NXT
Honest Trailers
Chopped
Watch What Happens Live with Andy Cohen
The Patrick Star Show
America's Got Talent
Storage Wars
The Afterparty
The Ultimate Fighter
LIVE with Kelly and Mark
The Secret of Skinwalker Ranch
Hunted
The Sixth Commandment
Love & Hip Hop Atlanta
The ReidOut
The Golden Boy
The View
Dark Side of the Ring
Alex Wagner Tonight
Work It Out Wombats!
Shark Week
The Amazing Race Canada
The Great Australian Bake Off
OutDaughtered
Body Cam
Hey Yahoo!
Rush
Bake Off: The Professionals
Primal Survivor: Extreme African Safari
Dark Side of the 2000s
Supermarket Stakeout
Beyond Skinwalker Ranch
Secrets of the London Underground
New Leash on Life
Caught in the Act: Unfaithful
Million Dollar Island
Iconic America: Our Symbols and Stories With David Rubenstein
High Speed Chase
War on Waste
Hot Wheels: Ultimate Challenge
Cooking With the Stars
Duck Family Treasure
Your Home Made Perfect
Southern Storytellers
Hunted Australia
Rachael Ray
Doubling Down with the Derricos
Hot Bench
Customer Wars
Split Second
The Cheap Seats
Stories From The National Portrait Gallery
僕らのGalileo Galilei〜会えたね〜
Alex's Food Reviews

# TMDb 3.5

Count the number of males and females in the cast of "Money Heist" using the TMDb API.<br><br>
Output Format:<br><br>
Print the count of male and female space separated.
male_count female_count

In [ ]:
import requests
## Write your code here
api_key = "e226f4a5f5bace766952aa0d17182959" 
api_link = "https://api.themoviedb.org/3" 
params = {'query':'Money Heist','api_key':api_key} 
header = {'Accept': 'application/json'} 
response = requests.get(api_link + '/search/tv/', headers = header, params = params) 
data = response.json() 
result=data.get('results')
for i in result:
    if i.get('name')=='Money Heist':
        id=i.get('id')    
params1={'id':id,'api_key':api_key}
response1 = requests.get(api_link + '/tv/' + str(id) + '/credits', headers = header, params = params1) 
data1 = response1.json() 
cast=data1.get('cast')
count_male=0
count_female=0
for c in cast:
    if c.get('gender')==1:
        count_female+=1
    if c.get('gender')==2:
        count_male+=1
print(count_male,count_female)